<%- include('partials/header.ejs'); -%>

  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box" id="list">
    <% for(let item of listItems){%>
      <div class="item" data-order-index="<%= item.order_index %>">
        <button class="drag-handle" type="button" aria-label="Drag to reorder">≡</button>

        <form action="/delete" method="post" class="delete-form">
  <input type="checkbox" name="deleteItemId" value="<%= item.id %>"> </form>

        <p id="title<%=item.id%>"><%= item.title %></p>

        <form class="edit" action="/edit" method="post">
          <input type="hidden" name="updatedItemId" value="<%= item.id %>">
          <input id="input<%=item.id%>" type="text" name="updatedItemTitle"
                 value="<%= item.title %>" autocomplete="off" hidden="true" />
          <button id="done<%=item.id%>" class="edit" type="submit" hidden>
            <img class="icon" src="/assets/icons/check-solid.svg" alt="tick image">
          </button>
        </form>

        <button id="edit<%=item.id%>" class="edit" type="button" onclick="handler('<%=item.id%>')">
          <img class="icon" src="/assets/icons/pencil-solid.svg" alt="pencil image">
        </button>
      </div>
    <% } %>

    <form class="item add-item" action="/add" method="post">
      <input type="text" name="newItem" id="newItemInput" placeholder="New Item" autocomplete="off" />
      <button class="add" type="submit" name="list" value=<%=listTitle %>>+</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/client.js"></script>
  <%- include('partials/footer.ejs'); -%>
